version: '3.4'

services:
  mailService:
    image: downloader-email
    depends_on:
      - mailServer
    network_mode: host
    build:
      context: .
      dockerfile: ./Dockerfile
      network: host
    env_file: ./.env
    environment:
      MAIN_SERVER_ADDRESS: api.movieTracker.mom
      CORS_ALLOWED_ORIGINS: https://www.movietracker.mom --- https://movietracker.mom --- http://movietracker.mom --- https://admin.movietracker.mom --- http://admin.movietracker.mom
      MAILSERVER_HOST: localhost
      MAILSERVER_PORT: 587
      MAILSERVER_USERNAME: webmaster@movietracker.mom
      LOG_PANIC_TRACE: 'true'
      INITIAL_WAIT_FOR_MAIL_SERVER_SEC: 30
    #    ports:
    #      - "3000:3000"
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 50M
        reservations:
          memory: 10M
    restart: always

  #more details in readme.md
  mailServer:
    image: boky/postfix
    #    network_mode: host
    environment:
      - ALLOWED_SENDER_DOMAINS=localhost movietracker.mom chat.movietracker.mom
    ports:
      - "587:587"
      - "25:25"
    #    volumes:
    #      - ./postfix/main.cf:/etc/postfix/main.cf
    #      - ./postfix/virtual:/etc/postfix/virtual
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 100M
        reservations:
          memory: 10M
    restart: always
